@using ECommerce.DTOs.Product
@model List<ProductListDto>

<div class="product-tab">
    <div class="container container-240">
        <div class="ecome-heading style2 spc4">
            <div class="title-icon e-gradient">
                Çok Satanlar
            </div>
            <a href="/Store" class="btn-show">Daha Fazla Ürün<i class="ion-ios-arrow-forward"></i></a>
        </div>

        <div class="tab-content">
            <div id="feature" class="tab-pane fade in active">
                <div class="product-tab-pd js-multiple-row2">
                    @foreach (var product in Model)
                    {
                        @await Html.PartialAsync("~/Views/Shared/Partials/Product/_ProductCard.cshtml", product)

                    }
                </div>
            </div>
        </div>
    </div>
</div>

