
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="~/index" class="sidebar-logo">
            <img src="~/images/logo.png" alt="site logo" class="light-logo">
            <img src="~/images/logo-light.png" alt="site logo" class="dark-logo">
            <img src="~/images/logo-icon.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">           
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                    <span>Ürün Yönetimi</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="~/Product"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Tüm Ürünler</a>
                    </li>
                    <li>
                        <a href="~/Product/Create"><i class="ri-circle-fill circle-icon text-warning-main w-auto"></i> Ekle</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Product")"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Düzenle</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Product")"><i class="ri-circle-fill circle-icon text-danger-main w-auto"></i> Sil</a>
                    </li>
                </ul>
            </li>            
        </ul>
    </div>
</aside>