@using ECommerce.Web.Models
@model HomeViewModel
@using ECommerce.Web.Helpers

<style>
    .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 10px;
    }

        .owl-nav button {
            background-color: #333;
            color: white;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .owl-nav button:hover {
                background-color: #555;
            }

</style>



<!-- Kategori Simgeleri -->
@await Html.PartialAsync("/Views/Shared/Partials/Category/_CategoryIcons.cshtml", Model.Categories)

<div class="container container-240">

    <!-- Slider -->
    @await Html.PartialAsync("Partials/Product/_Slider", Model.AllProducts)

    

    <div class="conteiner mb-50">
        <div class="row">
            <section class="mt-50">
                <!-- Ürünler -->
                @await Html.PartialAsync("~/Views/Shared/Partials/Product/_LastProductsSlider.cshtml", Model.AllProducts)
            </section>
            </div>

        </div>


        <!-- Best Sellers -->
        <section  style="margin-top:50px">
            @await Html.PartialAsync("~/Views/Shared/Partials/Product/_BestSellers.cshtml", Model.BestSellerProducts)
        </section>

        <!-- All Products -->
        <section >
            @await Html.PartialAsync("~/Views/Shared/Partials/Product/_AllProducts.cshtml", Model.AllProducts)

        </section>

    </div>







    @section Scripts {
        <script>
            $(document).ready(function () {
                $(".owl-home-slider").owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    items: 1,
                    autoplay: true,
                    autoplayTimeout: 5000
                });

                $(".owl-product-slider").owlCarousel({
                    loop: true,
                    margin: 20,
                    nav: true,
                    items: 4,
                    autoplay: true,
                    autoplayTimeout: 6000,
                    responsive: {
                        0: {
                            items: 1
                        },
                        576: {
                            items: 2
                        },
                        768: {
                            items: 3
                        },
                        992: {
                            items: 4
                        }
                    }
                });
            });
        </script>
    }
